body {
    background-image: url(/imgs/Background\ image\ for\ page\ 1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
}
.wf {
    outline: 1px solid black;
}
.ns {
    background-color: silver;
}
.ns2 {
    background-color: gray;
}
.row {
    max-height: 500px;
}
 h2 h6 {
    font-family: 'Arya', sans-serif;
 }

 